$color-bg-primary: #1e1d2b;
$color-bg-secondary: #292838;
$color-white: #ffffff;
$color-green: #00956b;
$color-light-green: #b9d8d0;
$color-coral: #ff6247;
$color-orange: #ff9f00;
$color-yellow: #b6b819;
