.btn {
  &.is-loading {
    position: relative;
    font-size: 0;
    pointer-events: none;
    cursor: wait;

    &::before {
      content: 'Загрузка...';
      font-size: 14px;
    }
  }
}

.favor-btn {
  position: absolute;
  right: 50px;
  top: 20px;
  cursor: pointer;

  &:hover .icon,
  &.is-favor .icon {
    fill: $color-orange;
  }
}
